/* --- Global --- */
.img-responsive img{
	width: 100%;
	height: auto;
}

/* --- Comment --- */
.commentDisplay .commenterNtime span span{
    color: #000;
    display: inline-block;
}
.commentDisplay .commenterNtime span span:after{
    content: "/";
    width: 25px;
    display: inline-block;
    color: rgba(156, 156, 156, 0.5);
    text-align: center;
}
.commentDisplay .media-left.avatar img{
    width: 80px;
    height: auto;
}
.commentDisplay .indented{
    margin-left: 100px;
}
.commentDisplay .commentTexts{
    padding-bottom: 15px;
}
.commentDisplay .cmt-links li{
    padding-right: 20px;
    padding-left: 0;
}
.commentDisplay .cmt-links li a{
    color: #333;
    font-weight: bold;
    text-transform: capitalize;
}
.commentDisplay .cmt-links li a:hover{
    color: #f7b71e;
}
.node-type-blog .commentForm #edit-actions{
    margin: 0;
}
.node-type-blog .commentForm #edit-actions input{
    line-height: 56px;
    border-radius: 0;
    border: 0;
    background: #f7b71e;
    padding: 0;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-shadow: none;
}
.node-type-blog .commentForm #edit-actions input:hover {
    background: #293133;
}
.page-comment-reply .commenterNtime a{
    color: #333;
}
.page-comment-reply .commenterNtime a:after{
    content: "/";
    width: 25px;
    display: inline-block;
    color: rgba(156, 156, 156, 0.5);
    text-align: center;
}
.page-comment-reply .commentTexts {
    padding-bottom: 15px;
}
.page-comment-reply .cmt-links li{
    padding: 0;
    padding-right: 5px;
}
.page-comment-reply .cmt-links li a{
    color: #333;
}
.page-comment-reply .cmt-links li.active a{
    color: #f7b71e;
}
.page-comment-reply .comment-form{
    padding-top: 30px;
}
.page-comment-reply .comment-form .input-group,
.page-comment-edit .comment-form .input-group{
    width: 100%;
}
.page-comment-reply .comment-form .form-actions input,
.page-comment-edit .comment-form .form-actions input{
    line-height: 56px;
    border-radius: 0;
    border: 0;
    background: #f7b71e;
    padding: 0;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-shadow: none;
}
.page-comment-delete .confirmation #edit-submit{
    background: #f7b71e;
    color: #FFF;
    border: none;
    border-radius: 0;
}

/* --- Blog --- */
.view-blog-fullwidth .postExcerptInner{
    height: 320px;
}
.postExcerpts .postExcerptInner a h4{
    min-height: 54px;
}
.view-blog-3-columns .paginationRow{
    clear: both;
    padding-left: 15px;
}
.sidebar{
    margin-top: 30px;
}
.page-comment-edit #sidebar-first{
    display: none;
}
.postExcerpts .postExcerptInner h4{
    max-height: 54px;
    overflow: hidden;
}
/* --- Menu --- */
#main_nav li.leaf,#main_nav li.expanded {
    padding: 0;
}
#main_nav ul li{
    list-style: none;
}

/* --- About --- */
.partnerSlider div.item{
    padding: 68px 0;
}
.partnerSlider div.item img{
    padding: 0 !important;
}
.partnersSlide .owl-controls i:before{
    margin: 0;
}
.partnersSlide .owl-controls .owl-prev{
    margin-right: 0 !important;
}
.list-inline.memberSocial li a i{
    display: inline-block;
}

/* Edit node */
.tab_primary {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 100;
    list-style: none;
}
.tab_primary li a {
    display: block;
    margin-right: 0;
    text-align: center;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 10px 15px 10px 15px;
}
.tab_primary li a {
    color: #333;
}
.tab_primary li a.active {
    color: #f7b71e;
}
ul.tabs.tab_primary.tabs-content.nav.nav-tabs li{
    float: inherit;
}

/* CSS Contextual default */
div.contextual-links-wrapper{
    z-index: 9999;
}
ul.contextual-links li a {
    font-size: 12px!important;
    background: #fff!important;
    line-height: 15px!important;
    width: 120px!important;
    color: #000!important;
}
div.contextual-links-wrapper ul.contextual-links{
    border: 1px solid #000!important;
}
/* Fix for service & tw */

#nr_slider {
    overflow: hidden;
}
.twitterSlide .contextual-links-wrapper {
    margin-top: 90px;
}
/* --- Testimonials --- */
#testimonials .clientPhoto img{
    border-radius: 50%;

}

/* --- Icon --- */
.field-collection-container {
    border-bottom: none;
    margin-bottom: 0;
}
.field-collection-container li{
    list-style: none;
}
.field-collection-container ul{
    padding: 0;
}
.contactWidget .field-collection-container ul i{
    margin-right: 10px;
}
.contactWidget .field-collection-container ul i:before{
    margin: 0px;
}
.contactWidget .field-collection-container ul a{
    color: #9c9c9c;
}
.action-links.action-links-field-collection-add{
    display: none;
}
.list-inline.c-info li{
    display: inline-block;
}
span.input-group-addon i{
    display: inline-block;
}

/* --- Accordion --- */
#hAccordion .panel .panel-heading .panel-title a.collapsed .sign:before {
    content: '\e81f';
    font-family: "fontello";
}
#hAccordion .panel .panel-heading .panel-title a .sign:before {
    content: '\e823';
    font-family: "fontello";
}
.accordion-tabs{
    padding-top: 50px;
}
/* Social Header*/
.social_nav.col-sm-6 {
    float: right;
}

/* Footer contact */
.footer-contact .field-collection-container .field-items .field-item{
    margin-bottom: 0px;
}
.footer-contact .field-collection-view {
    padding: 0;
    margin: 0;
    border-bottom: 0px;
}
.footer-contact .field-collection-view-links{
    display: none;
}
.footer-contact .tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
ul.nav-justified li a i{
    display: inline-block;
}
/* Webform*/
.commentForm .form-submit {
    line-height: 56px;
    border-radius: 0;
    border: 0;
    background: #f7b71e;
    padding: 0;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-shadow: none;
}
.commentForm .input-group span i {
    height: 32px;
    width: 32px;
    line-height: 28px;
    border: 1px solid #f7b71e;
    color: #f7b71e;
    border-radius: 100%;
    text-align: center;
}
.commentForm form .input-group{
    height: 56px;
}

#contacts .field-collection-container li {
    display: inline;
}
#contacts .field-collection-container li a {
    color: #9c9c9c;
}
.webform-client-form .commenterInfoInputs span.input-group-addon i{
    display: inline-block;
}
.webform-client-form .commenterInfoInputs .input-group .input-group.form-item{
    margin: 0;
}
.webform-client-form .col-sm-6:nth-child(2) .input-group{
    margin: 0;
}
.webform-client-form .col-sm-6:nth-child(2) .form-actions{
    margin-top: 10px;
}



/* --- Slide --- */
#nr_slider .mainSliderContainer .tparrows.tp-leftarrow:after {
    content: '\e8a8';
    font-family: "fontello";
}
#nr_slider .mainSliderContainer .tparrows.tp-rightarrow:after {
    content: '\e8a9';
    font-family: "fontello";
}
.tp-bullets.simplebullets.round-old .bullet {
    background: url(../images/bullets.png) no-Repeat bottom left;
}
.tp-bullets.simplebullets .bullet:hover, .tp-bullets.simplebullets .bullet.selected {
    background-position: top left;
}


/*CSS  Twitter */
#nr_footer .container{
    padding-left: 0px;
    padding-right: 0px;
}
.row.twitterSlide {
    margin-left: 0px;
    margin-right: 0px;
}
.twitterSlide{
    max-height: 270px;
    padding: 80px 0 80px;
}
.footerWidget {
    margin: 30px 0px;
}
#projectsRow.page{
    padding-top: 0px;
    margin-bottom: 40px;
}
#projectsRow .filtersRow .filters > li:last-child:after {
    border: 0px;
}
/* --- 404 403 --- */
.page-error .container h1{
    text-transform: uppercase;
    margin: 60px 0 20px;
    color: #f7b71e;
    font-weight: bold;
}
.page-error .container h4{
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-style: italic;
}
#page-wrapper.error-page{
}
.page-error .back-to-home{
    padding: 20px 0;
}
.page-error .back-to-home a{
    color: #f7b71e;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #f7b71e;
}
.page-error .back-to-home a:hover{
    color: #333;
}

/* --- Service --- */
.whyUs .whyUsInner h3 i:before{
    margin: 0;
}

/* --- User --- */
.page-user .profile {
    margin: 50px auto;
    max-width: 1170px;
}
.page-user .profile .user-picture{
    float: none;
    text-align: center;
}
.page-user-login form#user-login {
    max-width: 1170px;
    margin: 50px auto;
}
.page-user-login form#user-login .form-actions input{
    border-radius: 0;
    border: 0;
    background: #f7b71e;
    padding: 0;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-shadow: none;
    padding: 10px 20px;
}

/* --- Maintenance page --- */
.maintenance-page #page{
    padding: 300px 0;
    text-align: center;
    background: #ddd;
}
.tabs.tab_primary li{
    margin: 0;
}
#contacts ul.tabs.tab_primary {
    padding-bottom: 0px;
}
section#contacts .webform-client-form {
    margin-top: 40px;
}
#contacts .contact-2 .webform-client-form {
    margin-top: 0px;
}

/* Language bar */
ul.language-switcher-locale-url {
    height: 15px;
    margin-left: 0px;
    float: left;
}
ul.language-switcher-locale-url li {
    display: block;
    width: 20px;
    height: 15px;
    float: left;
    margin-right: 5px;
}

ul.language-switcher-locale-url li a {
    color: transparent;
    display: inline;
    width: 15px;
}
ul.language-switcher-locale-url li:not(.active) a{
    opacity: 0.3;
}

/* Map maker*/
#map_canvas {
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
}

/* ADD YOUR CUSTOM LANGUAGE FLAG */
ul.language-switcher-locale-url li.en a {
    background: url("../css/img/flag/icon_flag_en.png");
    background-repeat: no-repeat;
    height: 15px;
}
ul.language-switcher-locale-url li.vi a {
    background: url("../css/img/flag/icon_flag_vi.png");
    background-repeat: no-repeat;
    height: 15px;
}

/* Back top responsive */
@media (min-width: 1024px) and (max-width: 1199px) {
    #nr_footer .container:after {
        border-left: 538px solid transparent;
        border-right: 534px solid transparent;
        top: 0;
        left: -50px;
    }
    #nr_slider .sliderAfterTriangle:after {
        border-left: 500px solid transparent;
        border-right: 437px solid transparent;
    }
}


