/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Construction Business Site Template
Version:	2
Last change:	30/01/2014
Developed By:	Nasir Uddin
Developer URI:	http://nasiruddin.com
Primary use:	Business, Portfolio and Blog
Update Message: Remove Mixitup and Add Isotope
Code Description: I use LESS preprocessor to code and optimize to reponsive with nested style. 
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Preloader / #pageloader
2. TopStrip / #nr_topStrip
3. Header / header
4. Navigation / .navbar
5. Index Content: 
    i. Slider / #nr_slider
    ii. Services / .nr_services
    iii. Projects / #projects
    iv. Latest Post / #latestPosts
    v. Testimonials / #testimonials
    vi. Elements / #section
        i. Accordion / #hAccordion
        ii. Tabs / .leftAlignedTap
6. About Us Content ( .aboutus ): 
    i. About Us Texts / .aboutUsTexts
    ii. Team Members / .members
    iii. Partners / .partnersSlide
7. Blog
    i. Blogs / #blogs
    ii. Single Post / #blogs > .sinlge-blog
8. Projects (#projects)
    i. Filters / .filters
    ii. Projects / .projects
9. Services / #services
10. Contact Us / #contacts
11. Google Map / #mapBox
12. Sidebar / .sidebar
13. Page Cover / #pageCover
14. Footer / #nr_footer
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Color codes]

Base Color 1 : #f7b71e; // less variable @baseColor
Base Color 2 : #333d40; // less variable @baseColor2
Base Color 3 : #9c9c9c; // less variable @baseColor3
Base Color 4 : #293133; // less variable @baseColor4
Base Color 5 : #8a8a8a; // less variable @baseColor5
Base Color 6 : #4c545f; // less variable @baseColor6
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Fonts]

Base Fonts 1 : Raleway // less variable @baseFont
Base Fonts 2 : Open Sans // less variable @baseFont2
-------------------------------------------------------------------*/
/*
*
*
*/
/*----------------------------------------------------------------*/
/*Prefix Styles*/
.m0 {
  margin: 0;
}
.m0a {
  margin: 0 auto;
}
.p0 {
  padding: 0;
}
body {
  position: relative;
}
/*Floating*/
.fleft {
  float: left;
}
.fright {
  float: right;
}
/*Section Fix*/
section.row,
header.row,
footer.row {
  margin: 0;
  position: relative;
}
/*Ancore*/
a {
  outline: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}
/*Modify Core CSS*/
.list-inline {
  margin: 0;
}
/*Section Title*/
.sectionTitles {
  margin-bottom: 40px;
}
.sectionTitles.service-icon{
	margin-top: 50px;
	margin-bottom: 0;
}
.sectionTitles .sectionTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  line-height: 1;
  text-align: center;
  margin-top: 0;
}
.sectionTitles .sectionTitle.whiteTC {
  color: #FFF;
}
.sectionTitles .sectionSubTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1;
  color: #4c545f;
  text-align: center;
}
.sectionTitles .sectionSubTitle:before,
.sectionTitles .sectionSubTitle:after {
  width: 75px;
  height: 1px;
  background: #4c545f;
  content: '';
  display: inline-block;
  top: -4px;
  position: relative;
}
.sectionTitles .sectionSubTitle:before {
  margin-right: 20px;
}
.sectionTitles .sectionSubTitle:after {
  margin-left: 20px;
}
.sectionTitles .sectionSubTitle.whiteTC {
  color: #FFF;
}
.sectionTitles .sectionSubTitle.whiteTC:before,
.sectionTitles .sectionSubTitle.whiteTC:after {
  background: #FFF;
}
@media (max-width: 1024px) {
  .sectionTitles .sectionTitle {
    font-size: 30px;
  }
  .sectionTitles .sectionSubTitle {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}
/*MixitUp*/
.mix {
  display: none;
}
/*----------------------------------------------------------------*/
/*Slider Shortcode Classes*/
.bb1 {
  background: #f7b71e;
  color: #FFF;
}
.bb3 {
  background: #9c9c9c;
  color: #FFF;
}
.sidebar-right {
  margin-top: 30px;
  padding: 0 0 0 20px;
}
.sidebar-left {
  margin-top: 30px;
  padding: 20px 0 0 0px;
}
@media (max-width: 992px) {
  .sidebar-left {
    width: 100%;
    padding: 0;
  }
  .sidebar-right {
    width: 100%;
    padding: 0;
  }
}
.widgetS {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
  border: 1px solid rgba(156, 156, 156, 0.3);
  margin-bottom: 20px;
  color: #9c9c9c;
}
.widgetS h4 {
  color: #40434c;
  font-weight: bold;
  margin: 0 0 18px;
}
@media (max-width: 1024px) {
  .widgetS h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
/*Text Widget*/
.textWidget p {
  font-size: 16px;
  margin: 0;
}
@media (max-width: 1024px) {
  .textWidget p {
    font-size: 13px;
  }
}
/*Conact Widget*/
.contactWidget ul {
  margin-bottom: 0;
}
.contactWidget ul li i {
  font-size: 16px;
  color: #f7b71e;
  margin-right: 10px;
  width: 17px;
}
@media (max-width: 1024px) {
  .contactWidget ul li {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .contactWidget ul li i {
    font-size: 14px;
    width: 10px;
  }
  .contactWidget ul li:last-child {
    margin-bottom: 0;
  }
}
/*Recent Post Widget*/
.recentPostWidget .recentblogs .recentblog {
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.recentPostWidget .recentblogs .recentblog:first-child {
  padding-top: 0;
}
.recentPostWidget .recentblogs .recentblog:last-child {
  border: 0;
  padding-bottom: 0;
}
.recentPostWidget .recentblogs .recentblog .media-left a {
  width: 50px;
  height: 50px;
  padding: 0;
  display: block;
}
.recentPostWidget .recentblogs .recentblog .media-left a img {
  width: 100%;
}
.recentPostWidget .recentblogs .recentblog .media-body a h5 {
  color: #9c9c9c;
  line-height: 22px;
}
@media (max-width: 1024px) {
  .recentPostWidget .recentblogs .recentblog .media-left a {
    width: 40px;
    height: 40px;
  }
  .recentPostWidget .recentblogs .recentblog .media-body a h5 {
    font-size: 13px;
    line-height: 18px;
  }
}
/*----------------------------------------------------------------*/
/*Base Styles*/
/*----------------------------------------------------------------*/
/*PreLoader*/
#pageloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  z-index: 99999;
  overflow: hidden;
}
#pageloader .loader-item {
  height: 130px;
  width: 130px;
  border-radius: 50px;
  left: -webkit-calc(50% - 65px);
  left: calc(50% - 65px);
  top: -webkit-calc(50% - 100px);
  top: calc(50% - 100px);
  text-align: center;
  position: absolute;
}
/*----------------------------------------------------------------*/
/*Top Strip*/
#nr_topStrip {
  background: #293133;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 11px 0;
  height: 40px;
}
#nr_topStrip .c-info li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}
#nr_topStrip .c-info li a {
  color: #FFF;
  padding: 0 10px;
}
#nr_topStrip .c-info li a i {
  margin-right: 5px;
}
#nr_topStrip .lang {
  line-height: 18px;
}
#nr_topStrip .lang li a img {
  vertical-align: middle;
  opacity: 0.30;
}
#nr_topStrip .lang li.active a img {
  opacity: 1;
}
#nr_topStrip .lang li:first-child {
  padding-left: 0;
}
@media (max-width: 479px) {
  #nr_topStrip {
    height: 60px;
  }
  #nr_topStrip .c-info {
    width: 100%;
    margin-bottom: 5px;
  }
  #nr_topStrip .lang {
    width: 100%;
  }
}
/*----------------------------------------------------------------*/
/*Header*/
header {
  height: 105px;
  padding: 31px 0;
  background: #333d40;
}
header .logo {
  line-height: 43px;
}
header .social_nav ul li a {
  width: 43px;
  line-height: 43px;
  border-radius: 100%;
  background: #f7b71e;
  color: #FFF;
  display: block;
  text-align: center;
  font-size: 20px;
}
header .social_nav ul li:last-child {
  padding-right: 0;
}
@media (max-width: 767px) {
  header {
    height: auto;
  }
  header .logo {
    text-align: center;
  }
  header .social_nav ul {
    float: none;
    text-align: center;
    margin: 15px 0 0;
  }
}
/*Navbar*/
.navbar-static-top {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  border: 0;
}
.navbar-static-top .navbar-header .navbar-toggle {
  width: 100%;
  margin: 0;
  height: 60px;
  border-radius: 0;
  background: #293133;
  border-color: #293133;
  color: #FFF;
  font-size: 22px;
}
.navbar-static-top .navbar-header .navbar-toggle .btn-text {
  text-transform: uppercase;
}
.navbar-static-top .navbar-header .navbar-toggle .bars {
  display: inline-block;
  margin-right: 10px;
}
.navbar-static-top .navbar-header .navbar-toggle .bars span {
  background: #FFF;
}
.navbar-static-top .navbar-collapse ul {
  width: 100%;
}
.navbar-static-top .navbar-collapse ul li {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 168px;
  text-align: center;
}

.navbar-static-top .navbar-collapse ul li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-static-top .navbar-collapse ul li a {
  padding: 0;
  line-height: 84px;
  text-transform: uppercase;
  width: 100%;
  font-size: 20px;
  position: relative;
  color: #333d40;
}
.navbar-static-top .navbar-collapse ul li a:hover {
  background: #f7b71e;
  color: #FFF;
}
.navbar-static-top .navbar-collapse ul li.active {
  border-right: 0;
}
.navbar-static-top .navbar-collapse ul.navbar-nav > li.active:before {
  height: 12px;
  width: 100%;
  -webkit-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  transform: skewX(45deg);
  background: #ae902e;
  display: block;
  content: '';
  margin: -12px 0 0 6px;
}
.navbar-static-top .navbar-collapse ul li.active a {
  background: #f7b71e;
  color: #FFF;
}
.navbar-static-top .navbar-collapse ul li.active a:hover {
  background: #f7b71e;
  color: #FFF;
}
.navbar-static-top .navbar-collapse ul li.active a:before {
  content: '';
  display: block;
  width: 100%;
  height: 12px;
  background: #f7b71e;
  margin-top: -12px;
}
.navbar-static-top .navbar-collapse ul li.active a:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 84px solid transparent;
  border-right: 84px solid transparent;
  border-top: 25px solid #f7b71e;
  position: absolute;
  bottom: -24px;
  z-index: 1001;
}
.navbar-static-top .navbar-collapse ul li.active.dropdown .dropdown-menu li a:before,
.navbar-static-top .navbar-collapse ul li.active.dropdown .dropdown-menu li a:after {
  display: none;
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu {
  padding: 0;
  width: auto;
  min-width: 200px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  visibility: hidden;
  border: none;
  -webkit-transform: rotate3d(1, 0, 0, -90deg);
  transform: rotate3d(1, 0, 0, -90deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu li {
  width: auto;
  border-right: 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu li:nth-child(odd) {
  -webkit-transform: rotate3d(-1, 0, -1, -90deg);
  transform: rotate3d(-1, 0, -1, -90deg);
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu li:nth-child(even) {
  -webkit-transform: rotate3d(1, 0, 1, -90deg);
  transform: rotate3d(1, 0, 1, -90deg);
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu li a {
  background: #293133;
  color: #FFF;
  line-height: 60px;
  text-align: left;
  padding: 0 15px;
  font-size: 13px;
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu li a:hover {
  background: dimgray;
}
.navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu li:last-child {
  border-bottom: 0;
}
.navbar-static-top .navbar-collapse ul li.dropdown:hover:before {
  display: none;
}
.navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-toggle {
  background: #f7b71e;
  color: #FFF;
}
.navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-toggle:focus {
  background: #f7b71e;
}
.navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-toggle:before,
.navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-toggle:after {
  display: none;
}
.navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-menu {
  visibility: visible;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
}
.navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-menu li {
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
}
@media (max-width: 1024px) {
  .navbar-static-top .navbar-collapse ul {
    width: 100%;
  }
  .navbar-static-top .navbar-collapse ul li {
    width: 140px;
  }
  .navbar-static-top .navbar-collapse ul li a {
    line-height: 60px;
  }
  .navbar-static-top .navbar-collapse ul li.active a:after {
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 25px solid #f7b71e;
  }
}
@media (max-width: 990px) {
  .navbar-static-top .navbar-collapse ul li {
    width: 124px;
  }
  .navbar-static-top .navbar-collapse ul li a {
    line-height: 60px;
  }
  .navbar-static-top .navbar-collapse ul li.active a:after {
    border-left: 62px solid transparent;
    border-right: 62px solid transparent;
    border-top: 20px solid #f7b71e;
    bottom: -19px;
  }
}
@media (max-width: 767px) {
  .navbar-static-top .container {
    padding: 0;
  }
  .navbar-static-top .container .m04m {
    margin: 0;
  }
  .navbar-static-top .navbar-collapse {
    padding: 0;
  }
  .navbar-static-top .navbar-collapse ul {
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  .navbar-static-top .navbar-collapse ul li {
    width: 100%;
  }
  .navbar-static-top .navbar-collapse ul li:before {
    display: none;
  }
  .navbar-static-top .navbar-collapse ul li a {
    line-height: 60px;
  }
  .navbar-static-top .navbar-collapse ul li.active a:after {
    display: none;
  }
  .navbar-static-top .navbar-collapse ul li.dropdown .dropdown-menu {
    width: 100%;
    position: relative;
    height: 0;
  }
  .navbar-static-top .navbar-collapse ul li.dropdown:hover .dropdown-menu {
    height: auto;
  }
}
/*----------------------------------------------------------------*/
/*Slider Styles*/
#nr_slider .mainSliderContainer {
  width: 100%;
  position: relative;
  padding: 0;
}
#nr_slider .mainSliderContainer .tp-bullets {
  margin-left: -17px !important;
}
#nr_slider .mainSliderContainer .tparrows {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 30px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#nr_slider .mainSliderContainer .tparrows:after {
  position: absolute;
  color: #f7b71e;
  top: -5px;
}
#nr_slider .mainSliderContainer .tparrows.tp-leftarrow:after {
  content: "\f104";
  left: 55%;
}
#nr_slider .mainSliderContainer .tparrows.tp-leftarrow:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 99px solid transparent;
  border-bottom: 99px solid transparent;
  border-left: 99px solid #FFF;
  position: absolute;
  bottom: -99px;
}
#nr_slider .mainSliderContainer .tparrows.tp-rightarrow:after {
  content: "\f105";
  right: 55%;
}
#nr_slider .mainSliderContainer .tparrows.tp-rightarrow:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 99px solid transparent;
  border-bottom: 99px solid transparent;
  border-right: 99px solid #FFF;
  position: absolute;
  bottom: -99px;
  left: -59px;
}
#nr_slider .mainSliderContainer .mainSlider {
  width: 100%;
  position: relative;
}
#nr_slider .mainSliderContainer .mainSlider .caption {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  text-align: center;
  color: #FFF;
}
#nr_slider .mainSliderContainer .mainSlider .caption h2 {
  font-weight: 100;
  font-size: 56px;
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h2 {
    font-size: 30px;
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h2 {
    margin-top: 30px;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h2 {
    margin-top: 0;
  }
}
#nr_slider .mainSliderContainer .mainSlider .caption h3 {
  font-size: 40px;
  font-weight: 100;
  text-align: left;
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h3 {
    margin-left: 100px;
  }
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h3 {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h3 {
    font-size: 20px;
    margin-top: -55px;
    margin-left: 80px;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h3 {
    font-size: 18px;
    margin-top: 0;
    margin-left: 60px;
  }
}
#nr_slider .mainSliderContainer .mainSlider .caption h4 {
  font-size: 36px;
  font-weight: 100;
  text-align: left;
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h4 {
    margin-left: 100px;
  }
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h4 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h4 {
    font-size: 14px;
    margin-top: -55px;
    margin-left: 80px;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption h4 {
    margin-top: 5px;
    margin-left: 60px;
  }
}
#nr_slider .mainSliderContainer .mainSlider .caption p {
  font-size: 19px;
  text-align: left;
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption p {
    margin-left: 100px;
  }
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption p {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  #nr_slider .mainSliderContainer .mainSlider .caption p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption p {
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 15px;
    margin-left: 80px;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption p {
    margin-top: 15px;
    margin-left: 60px;
  }
}
#nr_slider .mainSliderContainer .mainSlider .caption a.btn {
  text-align: left;
  padding: 0 25px;
  line-height: 68px;
  background: #f7b71e;
  color: #FFF;
  font-weight: bold;
  font-size: 23px;
  border: 0;
  border-radius: 0;
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption a.btn {
    margin-left: 100px;
  }
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption a.btn {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 15px;
  }
}
@media (max-width: 640px) {
  #nr_slider .mainSliderContainer .mainSlider .caption a.btn {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding: 0 15px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption a.btn {
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
    margin-top: 30px;
    margin-left: 80px;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption a.btn {
    margin-top: 30px;
    margin-left: 60px;
  }
}
#nr_slider .mainSliderContainer .mainSlider .caption .cont-row {
  width: 395px;
  padding: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 20px;
}
#nr_slider .mainSliderContainer .mainSlider .caption .cont-row span {
  padding: 0 13px;
  line-height: 38px;
  display: inline-block;
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .cont-row {
    margin-top: 10px;
    padding: 10px 0;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .cont-row {
    margin-top: -5px !important;
  }
}
#nr_slider .mainSliderContainer .mainSlider .caption .ico_box {
  height: 148px;
  line-height: 148px;
  width: 148px;
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
}
#nr_slider .mainSliderContainer .mainSlider .caption .ico_box img {
  width: auto;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .ico_box {
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .sketch img {
    width: 400px !important;
    margin-right: 150px;
  }
}
@media (max-width: 992px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .sketch img {
    margin-right: 170px;
  }
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .sketch img {
    margin-right: 150px;
    width: 380px !important;
  }
}
@media (max-width: 640px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .sketch img {
    margin-right: 150px;
    width: 330px !important;
    height: auto !important;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .sketch img {
    margin-right: 90px;
    width: 220px !important;
    height: auto !important;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .sketch img {
    display: none;
  }
}
@media (max-width: 1024px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .tools img {
    width: 400px !important;
    margin-right: 150px;
  }
}
@media (max-width: 992px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .tools img {
    margin-right: 170px;
  }
}
@media (max-width: 990px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .tools img {
    margin-right: 150px;
    width: 400px !important;
  }
}
@media (max-width: 640px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .tools img {
    margin-right: 120px;
    width: 280px !important;
    height: auto !important;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .tools img {
    margin-right: 90px;
    margin-top: -20px;
    width: 240px !important;
    height: auto !important;
  }
}
@media (max-width: 360px) {
  #nr_slider .mainSliderContainer .mainSlider .caption .tools img {
    display: none;
  }
}
#nr_slider .sliderAfterTriangle:after {
  content: '';
  background: transparent;
  width: 0;
  height: 0;
  border-left: 585px solid transparent;
  border-right: 585px solid transparent;
  border-bottom: 68px solid #FFF;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
@media (max-width: 1024px) {
  #nr_slider .sliderAfterTriangle:after {
    border-left: 485px solid transparent;
    border-right: 485px solid transparent;
  }
}
@media (max-width: 990px) {
  #nr_slider .sliderAfterTriangle:after {
    border-left: 375px solid transparent;
    border-right: 375px solid transparent;
  }
}
@media (max-width: 767px) {
  #nr_slider .sliderAfterTriangle {
    display: none;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption h2 {
    font-size: 24px;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption .cont-row {
    width: 300px;
    padding: 10px 0;
    font-size: 15px;
    margin-top: 10px;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption .cont-row span {
    line-height: 30px;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption .ico_box {
    height: 100px;
    line-height: 100px;
    width: 100px;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  #nr_slider .mainSliderContainer .tparrows {
    display: none;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption h2 {
    font-size: 18px;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption .cont-row {
    margin-top: 13px;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption .cont-row span {
    line-height: 30px;
  }
  #nr_slider .mainSliderContainer .mainSlider .caption .ico_box {
    height: 60px;
    line-height: 60px;
    width: 60px;
    margin-top: 30px;
  }
}
/*----------------------------------------------------------------*/
/*Services*/
.nr_services {
  padding: 50px 0 0;
}
.nr_services .service {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333d40;
  height: 270px;
  width: 270px;
  border: 10px solid #f7b71e;
  padding: 20px;
  border-radius: 100%;
  cursor: all-scroll;
  margin: 0 auto 10px;
}
.nr_services .service .innerRow {
  border: 2px solid rgba(247, 183, 30, 0.8);
  height: 100%;
  border-radius: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.nr_services .service .innerRow .icon {
  font-size: 50px;
  height: initial;
  line-height: 50px;
  color: #f7b71e;
  margin: 70px 0 10px;
  display: block;
}
.nr_services .service .innerRow .serviceName {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
.nr_services .service .innerRow .serviceName:after {
  content: attr(data-hover);
  position: absolute;
  display: block;
  top: 0;
  max-width: 0;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.nr_services .service:hover .innerRow {
  background: #f7b71e;
}
.nr_services .service:hover .innerRow .icon {
  color: #FFF;
}
.nr_services .service:hover .innerRow .serviceName:after {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .nr_services .service {
    height: 200px;
    width: 200px;
    border: 8px solid #f7b71e;
    padding: 10px;
  }
  .nr_services .service .innerRow .icon {
    font-size: 26px;
    line-height: 26px;
    margin: 55px 0 5px;
  }
  .nr_services .service .innerRow .serviceName {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
  }
}
@media (max-width: 990px) {
  .nr_services .service {
    height: 148px;
    width: 148px;
    border: 7px solid #f7b71e;
    padding: 8px;
  }
  .nr_services .service .innerRow .icon {
    font-size: 24px;
    line-height: 24px;
    margin: 33px 0 3px;
  }
  .nr_services .service .innerRow .serviceName {
    display: inline-block;
    font-size: 11px;
  }
}
@media (max-width: 767px) {
  .nr_services .col-sm-3 {
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    float: left;
  }
  .nr_services .service {
    height: 148px;
    width: 148px;
    border: 7px solid #f7b71e;
    padding: 8px;
    margin: 10px auto;
  }
  .nr_services .service .innerRow .icon {
    font-size: 24px;
    line-height: 24px;
    margin: 33px 0 3px;
  }
  .nr_services .service .innerRow .serviceName {
    display: inline-block;
    font-size: 11px;
  }
}
@media (max-width: 640px) {
  .nr_services .col-sm-3 {
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    float: left;
  }
  .nr_services .service {
    height: 145px;
    width: 145px;
    border: 7px solid #f7b71e;
    padding: 8px;
    margin: 10px auto;
  }
  .nr_services .service .innerRow .icon {
    font-size: 24px;
    line-height: 24px;
    margin: 30px 0 3px;
  }
  .nr_services .service .innerRow .serviceName {
    display: inline-block;
    font-size: 11px;
  }
}
@media (max-width: 610px) {
  .nr_services .col-sm-3 {
    width: 100%;
    float: none;
  }
  .nr_services .service {
    height: 200px;
    width: 200px;
    border: 7px solid #f7b71e;
    padding: 8px;
    margin: 15px auto;
  }
  .nr_services .service .innerRow .icon {
    font-size: 28px;
    line-height: 28px;
    margin: 55px 0 3px;
  }
  .nr_services .service .innerRow .serviceName {
    font-size: 14px;
  }
}
/*Services Page*/
.services-page {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 40px;
}
.services-page h3 {
  margin: 0 0 15px;
  color: #000;
}
.services-page h3 i {
  margin: 0 0 0 10px !important;
  width: 22px !important;
  line-height: 22px !important;
  font-size: 20px !important;
  display: inline-block !important;
  color: #FFF;
  border-radius: 100%;
  background: #f7b71e !important;
  text-align: center;
}
@media (max-width: 1024px) {
  .services-page h3 {
    font-size: 20px;
  }
  .services-page h3 i {
    width: 20px;
    line-height: 20px;
    font-size: 16px;
    margin: 0 0 0 5px;
  }
}
.services-page .whyUs {
  font-size: 17px;
  color: #9c9c9c;
  margin-top: 30px;
}
.services-page .whyUs .whyUsInner {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.services-page .whyUs .whyUsInner .col-sm-7 {
  padding-left: 0;
}
.services-page .whyUs .whyUsInner .col-sm-5 {
  padding-right: 0;
}
.services-page .whyUs .whyUsInner .tagFeatures li {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin: 0 11px 11px 0;
  padding: 4px 5px;
  border-radius: 10px;
  border: 1px solid #f7b71e;
  font-size: 12px;
}
.services-page .whyUs .whyUsInner .tagFeatures li .badge {
  display: inline-block;
  margin-right: 2px;
  padding: 0;
  width: 15px;
  line-height: 15px;
  background: #8a8a8a;
  font-weight: normal;
  text-align: center;
}
.services-page .whyUs .whyUsInner .tagFeatures li .badge i {
  font-size: 11px;
}
@media (max-width: 1024px) {
  .services-page .whyUs {
    font-size: 14px;
  }
  .services-page .whyUs p {
    letter-spacing: 0.5px;
  }
}
.services-page.whatOffer {
  font-size: 17px;
  color: #9c9c9c;
}
.services-page.whatOffer.whatOfferInner {
  padding: 20px 0;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.services-page.whatOffer.whatOfferInner span {
  color: #f7b71e;
}
.services-page.whatOffer.whatOfferInner span.bigLetter {
  text-align: center;
  font-size: 43px;
  font-weight: 200;
  width: 63px;
  line-height: 63px;
  display: inline-block;
  border-radius: 100%;
  background: #293133;
  margin: 5px 20px 20px 0;
}
@media (max-width: 1024px) {
  .services-page.whatOffer {
    font-size: 14px;
  }
  .services-page.whatOffer p {
    letter-spacing: 0.5px;
  }
  .services-page.whatOffer.whatOfferInner span {
    margin: 5px 15px 15px 0;
  }
}
.services-page .serviceFeature {
  padding: 30px 0;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.services-page .serviceFeature img {
  margin-bottom: 30px;
}
.services-page .serviceFeature .media .media-left {
  padding-right: 20px;
}
.services-page .serviceFeature .media .media-left i {
  width: 65px;
  line-height: 65px;
  text-align: center;
  background: rgba(51, 61, 64, 0.3);
  font-size: 22px;
  color: #FFF;
  border-radius: 100%;
}
.services-page .serviceFeature .media .media-body h5 {
  font-size: 16px;
  color: #000;
  margin-top: 5px;
}
.services-page .serviceFeature .media .media-body p {
  font-size: 13px;
  color: #9c9c9c;
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  .services-page .serviceFeature .col-sm-4 {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .services-page .col-sm-9 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .services-page .serviceFeature .col-sm-4 {
    width: 100%;
    margin-bottom: 30px;
  }
}
/*----------------------------------------------------------------*/
/*Projects*/
#projectsRow {
  padding: 50px 0 0;
}
#projectsRow .filtersRow {
  border-top: 1px solid rgba(156, 156, 156, 0.3);
  padding: 40px 0;
  color: rgba(156, 156, 156, 0.9);
  font-family: 'Raleway', sans-serif;
}
#projectsRow .filtersRow .filters > li {
  padding: 0 40px;
  position: relative;
  line-height: 14px;
  cursor: pointer;
}
#projectsRow .filtersRow .filters > li i {
  margin-right: 10px;
}
#projectsRow .filtersRow .filters > li:after {
  width: 5px;
  height: 14px;
  content: '';
  border: 1px solid rgba(156, 156, 156, 0.8);
  border-width: 0 1px;
  position: absolute;
  right: 0;
  top: 0;
}
#projectsRow .filtersRow .filters > li.active {
  color: #f7b71e;
}
#projectsRow .project {
  position: relative;
  overflow: hidden;
}
#projectsRow .project .projectImg {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
#projectsRow .project .projectDetails {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  padding: 30px;
  background: rgba(156, 156, 156, 0.85);
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#projectsRow .project .projectDetails .nameType {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#projectsRow .project .projectDetails .nameType .projectName {
  font-size: 22px;
}
#projectsRow .project .projectDetails .nameType .projectType {
  color: rgba(255, 255, 255, 0.4);
}
#projectsRow .project .projectDetails .projectIcons a {
  width: 50px;
  line-height: 50px;
  border-color: #f7b71e;
  padding: 0;
  background: none;
  border-radius: 0;
  color: #FFF;
  font-size: 20px;
  text-shadow: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#projectsRow .project .projectDetails .projectIcons a:first-child {
  margin-right: 2px;
}
#projectsRow .project:hover .projectDetails {
  background: none;
}
#projectsRow .project:hover .projectDetails .nameType {
  margin-left: -500%;
}
#projectsRow .project:hover .projectDetails .projectIcons {
  background: none;
}
#projectsRow .project:hover .projectDetails .projectIcons a {
  background: #f7b71e;
}
/* #projectsRow.fullWidth .project,
#projectsRow.col3 .project {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}
#projectsRow.col2 .project {
  width: -webkit-calc(100% / 2);
  width: calc(100% / 2);
} */
#projectsRow.col2 .projects,
#projectsRow.col3 .projects {
  margin: -15px 0 0;
  background: none;
}
#projectsRow.col2 .projects .project,
#projectsRow.col3 .projects .project {
  padding: 15px;
}
#projectsRow.col2 .projects .project .projectInner,
#projectsRow.col3 .projects .project .projectInner {
  position: relative;
}
#projectsRow.col2 .paginationRow,
#projectsRow.col3 .paginationRow {
  top: -15px;
}
#projectsRow.col3 .project .projectDetails {
  overflow: hidden;
  position: relative;
  bottom: 0;
}
#projectsRow.col3 .project .projectDetails .nameType .projectName {
  font-size: 22px;
}
#projectsRow.col3 .project .projectDetails .nameType .projectType {
  color: rgba(255, 255, 255, 0.4);
}
#projectsRow.col3 .project .projectDetails .projectIcons {
  margin-right: -150%;
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#projectsRow.col3 .project:hover .projectDetails {
  background: #f7b71e;
}
#projectsRow.col3 .project:hover .projectDetails .projectIcons {
  background: none;
  margin-right: 0;
}
#projectsRow.col3 .project:hover .projectDetails .projectIcons a {
  background: #293133;
}
/* #projectsRow.page {
  padding-top: 0;
} */
@media (max-width: 1024px) {
  #projectsRow .filtersRow {
    padding: 20px 0;
  }
  #projectsRow .filtersRow .filters > li {
    padding: 0 20px;
  }
  #projectsRow .project .projectDetails {
    padding: 15px;
  }
  #projectsRow .project .projectDetails .nameType {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  #projectsRow .project .projectDetails .nameType .projectName {
    font-size: 15px;
  }
  #projectsRow .project .projectDetails .nameType .projectType {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
  }
  #projectsRow .project .projectDetails .projectIcons a {
    width: 30px;
    line-height: 30px;
    font-size: 14px;
    text-shadow: none;
  }
}
@media (max-width: 990px) {
  #projectsRow .project .projectDetails .nameType .projectName {
    font-size: 14px;
  }
}
/* @media (max-width: 767px) {
  #projectsRow .project {
    width: 50%;
  }
} */
@media (max-width: 480px) {
  #projectsRow .project {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #projectsRow .filtersRow {
    padding: 0;
  }
  #projectsRow .filtersRow .project_filderButton {
    width: 100%;
    background: #333d40;
    border: 0;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    padding: 0;
    margin: 0;
    word-spacing: 10px;
    line-height: 50px;
  }
  #projectsRow .filtersRow #filters {
    padding: 10px 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  #projectsRow .filtersRow .filters > li {
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
  }
  #projectsRow .filtersRow .filters > li i {
    font-size: 24px;
    margin: 0;
    display: block;
  }
  #projectsRow .filtersRow .filters > li:after {
    display: none;
  }
}
/*----------------------------------------------------------------*/
/*Latest Post*/
#latestPosts {
  padding: 50px 0;
}
#latestPosts .sectionTitles {
  margin-bottom: 10px;
}
/*----------------------------------------------------------------*/
/*Blogs*/
#blogs {
  padding-top: 10px;
  margin-bottom: 10px;
}
.blog {
  margin-top: 30px;
}
.blog .blogInner {
  border: 1px solid rgba(156, 156, 156, 0.3);
  overflow: hidden;
}
.blog .blogInner .blogDateTime {
  line-height: 60px;
  color: #4c545f;
  font-family: 'Raleway', sans-serif;
}
.blog .blogInner .blogDateTime i {
  line-height: 60px;
  width: 60px;
  background: #8a8a8a;
  text-align: center;
  position: relative;
  font-size: 28px;
  color: #FFF;
  margin-right: 30px;
  float: left;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .blogInner .blogDateTime i:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #8a8a8a;
  position: absolute;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  right: -10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .blogInner .featureImg {
  max-height: 320px;
  position: relative;
}
.blog .blogInner .featureImg a {
  display: block;
  height: 100%;
  overflow: hidden;
}
.blog .blogInner .featureImg a img {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .blogInner .postExcerpts {
  background: #f2eded;
  padding: 0 40px 40px;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .blogInner .postExcerpts .postExcerptInner {
  margin-top: -40px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  background: #FFF;
  position: relative;
}
.blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
  font-size: 17px;
  color: #000;
  margin-top: 0;
  font-weight: bold;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .blogInner .postExcerpts .postExcerptInner p {
  font-size: 16px;
  color: #9c9c9c;
}
.blog .blogInner .postExcerpts .postExcerptInner a.readMore {
  display: inline-block;
  float: right;
  color: #f7b71e;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog .blogInner:hover .blogDateTime i {
  background: #f7b71e;
}
.blog .blogInner:hover .blogDateTime i:after {
  border-left-color: #f7b71e;
}
.blog .blogInner:hover .featureImg a img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.blog .blogInner:hover .postExcerpts {
  background: #f7b71e;
}
.blog .blogInner:hover .postExcerpts .postExcerptInner a.postTitle h4 {
  color: #f7b71e;
}
.blog .blogInner:hover .postExcerpts .postExcerptInner a.readMore {
  color: #9c9c9c;
}
.blog.row {
  padding: 0 15px;
}
.blog.row .blogInner .featureImg a img {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog.row .blogInner .postExcerpts {
  padding: 40px;
}
.blog.row .blogInner .postExcerpts .postExcerptInner {
  margin-top: 0;
}
.blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
  font-size: 17px;
  color: #000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog.row .blogInner .postExcerpts .postExcerptInner p {
  font-size: 16px;
  color: #9c9c9c;
}
.blog.row .blogInner .postExcerpts .postExcerptInner a.readMore {
  display: inline-block;
  float: right;
  color: #f7b71e;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog.sinlge-blog {
  margin-bottom: 40px;
  padding-right: 20px;
}
.blog.sinlge-blog .blogInner .featureImg {
  max-height: 100%;
}
.blog.sinlge-blog .blogInner .featureImg a {
  height: 100%;
}
.blog.sinlge-blog .blogInner .featureImg a img {
  width: 100%;
}
.blog.sinlge-blog .blogInner .postExcerpts {
  padding-top: 0;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
  margin-top: -40px;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 15px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
  font-size: 16px;
  color: #9c9c9c;
}
.blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.readMore {
  display: inline-block;
  float: right;
  color: #f7b71e;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1024px) {
  .blog .blogInner .blogDateTime {
    line-height: 50px;
    font-size: 13px;
  }
  .blog .blogInner .blogDateTime i {
    line-height: 50px;
    width: 50px;
    font-size: 18px;
    margin-right: 20px;
  }
  .blog .blogInner .postExcerpts {
    background: #f2eded;
    padding: 0 25px 25px;
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .blog .blogInner .postExcerpts .postExcerptInner {
    margin-top: -25px;
    padding: 20px;
  }
  .blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 15px;
    font-weight: normal;
  }
  .blog .blogInner .postExcerpts .postExcerptInner p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .blog .blogInner .postExcerpts .postExcerptInner a.readMore {
    font-size: 13px;
  }
  .blog.row {
    padding: 0 15px;
  }
  .blog.row .blogInner .postExcerpts {
    padding: 33px;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner {
    margin-top: 0;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 15px;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner p {
    font-size: 13px;
    margin-bottom: 14px;
  }
  .blog.sinlge-blog .blogInner .postExcerpts {
    padding: 25px;
    padding-top: 0;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
    margin-top: -25px;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 20px;
    font-weight: normal;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  #blogs .col-sm-9 {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .blog .blogInner .blogDateTime {
    line-height: 40px;
    font-size: 12px;
  }
  .blog .blogInner .blogDateTime i {
    line-height: 40px;
    width: 40px;
    font-size: 18px;
    margin-right: 15px;
  }
  .blog.row {
    padding: 0 15px;
  }
  .blog.row .blogInner .postExcerpts {
    padding: 30px;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner {
    margin-top: 0;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 15px;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .blog.sinlge-blog .blogInner .postExcerpts {
    padding: 25px;
    padding-top: 0;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
    margin-top: -25px;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 20px;
    font-weight: normal;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .blog {
    max-width: 400px;
    margin: 30px auto 0;
  }
  .blog .blogInner .blogDateTime {
    line-height: 40px;
    font-size: 12px;
  }
  .blog .blogInner .blogDateTime i {
    line-height: 40px;
    width: 40px;
    font-size: 18px;
    margin-right: 15px;
  }
  .blog.row {
    padding: 0 15px;
  }
  .blog.row .blogInner .postExcerpts {
    padding: 33px;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner {
    margin-top: 0;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 15px;
  }
  .blog.row .blogInner .postExcerpts .postExcerptInner p {
    font-size: 13px;
    margin-bottom: 14px;
  }
  .blog.sinlge-blog {
    max-width: 100%;
    padding: 0;
  }
  .blog.sinlge-blog .blogInner .postExcerpts {
    padding: 25px;
    padding-top: 0;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner {
    margin-top: -25px;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner a.postTitle h4 {
    font-size: 20px;
    font-weight: normal;
  }
  .blog.sinlge-blog .blogInner .postExcerpts .postExcerptInner p {
    font-size: 14px;
  }
}
/*----------------------------------------------------------------*/
/*Testimonials*/
#testimonials {
  background: url("../images/testimonial/background.png") no-repeat scroll center center #f7b71e;
  padding: 60px 0;
}
#testimonials .testimonialSlider {
  margin: 15px 0 10px;
}
#testimonials .testimonialSlider .item {
  color: #FFF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#testimonials .testimonialSlider .item .clientPhoto {
  width: 153px;
  height: 153px;
  border-radius: 100%;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #FFF;
}
#testimonials .testimonialSlider .item .clientPhoto img {
  width: 100%;
  height: 100%;
}
#testimonials .testimonialSlider .item .clientNameTitle {
  margin: 20px 0;
}
#testimonials .testimonialSlider .item .arrow {
  margin-bottom: 30px;
  font-size: 40px;
}
#testimonials .testimonialSlider .item .arrow img {
  width: 42px;
  display: block;
  margin: 0 auto;
}
#testimonials .testimonialSlider .item .testimonial {
  background: rgba(255, 255, 255, 0.1);
  font-size: 22px;
  font-weight: 300;
  border-radius: 10px;
  padding: 20px 40px;
}
@media (max-width: 1024px) {
  #testimonials {
    padding: 40px 0;
  }
  #testimonials .testimonialSlider {
    margin: 0;
  }
  #testimonials .testimonialSlider .item .clientPhoto {
    width: 120px;
    height: 120px;
    padding: 10px;
  }
  #testimonials .testimonialSlider .item .clientPhoto img {
    width: 100%;
    height: 100%;
  }
  #testimonials .testimonialSlider .item .clientNameTitle {
    margin: 10px 0;
  }
  #testimonials .testimonialSlider .item .arrow {
    margin-bottom: 15px;
  }
  #testimonials .testimonialSlider .item .arrow img {
    width: 25px;
  }
  #testimonials .testimonialSlider .item .testimonial {
    font-size: 16px;
    border-radius: 5px;
    padding: 15px 30px;
  }
}
/*----------------------------------------------------------------*/
/*Elements*/
#elements {
  padding: 50px 0;
}
.leftAlignedTap {
  border: 1px solid rgba(156, 156, 156, 0.3);
}
.leftAlignedTap ul.nav-tabs {
  float: left;
  width: 232px;
  border: 0;
  border-right: 1px solid rgba(156, 156, 156, 0.3);
}
.leftAlignedTap ul.nav-tabs li {
  width: 100%;
}
.leftAlignedTap ul.nav-tabs li a {
  color: rgba(156, 156, 156, 0.9);
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 120px;
  height: 120px;
  padding: 0;
  border-radius: 0;
  border: 0;
  margin: 0;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.leftAlignedTap ul.nav-tabs li a i {
  font-size: 24px;
  display: inline-block;
  margin-right: 10px;
}
.leftAlignedTap ul.nav-tabs li:last-child a {
  border: 0;
}
.leftAlignedTap ul.nav-tabs li.active,
.leftAlignedTap ul.nav-tabs li:hover {
  border: 0;
}
.leftAlignedTap ul.nav-tabs li.active a,
.leftAlignedTap ul.nav-tabs li:hover a {
  background: #f7b71e;
  color: #FFF;
  border: 0;
}
.leftAlignedTap .tab-content {
  width: -webkit-calc(100% - 232px);
  width: calc(100% - 232px);
  height: 100%;
  float: left;
}
.leftAlignedTap .tab-content .tab-pane {
  padding: 20px;
  color: rgba(156, 156, 156, 0.9);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
/*Accordion*/
#hAccordion {
  border: 1px solid rgba(156, 156, 156, 0.3);
  border-width: 0 1px;
}
#hAccordion .panel {
  border-radius: 0;
  border: 0;
  margin: 0;
}
#hAccordion .panel .panel-heading {
  border-top: 1px solid rgba(156, 156, 156, 0.3);
  padding: 0;
  background: none;
}
#hAccordion .panel .panel-heading .panel-title a {
  display: block;
  line-height: 47px;
  font-family: 'Raleway', sans-serif;
  color: #414141;
  font-weight: 300;
}
#hAccordion .panel .panel-heading .panel-title a i {
  color: #f7b71e;
  display: inline-block;
  width: 38px;
  text-align: center;
}
#hAccordion .panel .panel-heading .panel-title a .sign {
  text-align: center;
  color: #000;
  width: 45px;
  float: right;
  line-height: 47px;
  border-left: 1px solid rgba(156, 156, 156, 0.3);
}
#hAccordion .panel .panel-heading .panel-title a .sign:before {
  content: "\f068";
}
#hAccordion .panel .panel-heading .panel-title a.collapsed .sign:before {
  content: "\f067";
}
#hAccordion .panel .panel-collapse .panel-body {
  padding: 20px;
}
#hAccordion .panel .panel-collapse .panel-body .icon {
  width: 68px;
  line-height: 68px;
  background: #f7b71e;
  color: #FFF;
  border-radius: 100%;
  text-align: center;
  float: left;
}
#hAccordion .panel .panel-collapse .panel-body .texts {
  width: -webkit-calc(100% - 88px);
  width: calc(100% - 88px);
  float: right;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: rgba(156, 156, 156, 0.9);
  line-height: 25px;
}
#hAccordion .panel:last-child {
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
@media (max-width: 1024px) {
  .leftAlignedTap ul.nav-tabs {
    width: 200px;
    float: left;
  }
  .leftAlignedTap ul.nav-tabs li a {
    font-size: 15px;
    line-height: 126px;
    height: 126px;
  }
  .leftAlignedTap ul.nav-tabs li a i {
    font-size: 22px;
    margin-right: 5px;
  }
  .leftAlignedTap .tab-content {
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    height: 100%;
    float: left;
  }
  .leftAlignedTap .tab-content .tab-pane {
    padding: 20px;
    color: rgba(156, 156, 156, 0.9);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 990px) {
  #elements .col-sm-6 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .leftAlignedTap {
    border: 1px solid rgba(156, 156, 156, 0.3);
  }
  .leftAlignedTap ul.nav-tabs {
    float: none;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
  }
  .leftAlignedTap ul.nav-tabs li a {
    line-height: 50px;
    height: 50px;
    text-align: left;
    padding: 0 20px;
  }
  .leftAlignedTap ul.nav-tabs li a i {
    font-size: 18px;
  }
  .leftAlignedTap .tab-content {
    width: 100%;
    height: 100%;
    float: left;
  }
  .leftAlignedTap .tab-content .tab-pane {
    padding: 20px;
    color: rgba(156, 156, 156, 0.9);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
}
/*----------------------------------------------------------------*/
/*Footer*/
#nr_footer {
  background: #333d40;
}
#nr_footer .container {
  position: relative;
}
#nr_footer .container .goTop {
  margin-top: -10px;
  text-align: center;
  padding-bottom: 18px;
  position: relative;
  z-index: 100;
}
#nr_footer .container .goTop a {
  display: inline-block;
  width: 62px;
  line-height: 62px;
  border-radius: 100%;
  background: #f7b71e;
  color: #FFF;
  font-size: 30px;
}
#nr_footer .container:after {
  content: '';
  background: transparent;
  width: 0;
  height: 0;
  border-left: 585px solid transparent;
  border-right: 585px solid transparent;
  border-top: 68px solid #FFF;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#nr_footer .container .copyrightRow {
  text-align: center;
  line-height: 122px;
  border-top: 1px solid #293133;
  color: #FFF;
}
#nr_footer .container .copyrightRow a {
  color: #FFF;
  text-decoration: none;
}
.twitterSlide {
  background: #293133;
  min-height: 120px;
  text-align: center;
  color: #FFF;
  padding: 110px 0 80px;
  margin-top: -70px;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
.twitterSlide .twitterSlider {
  position: relative;
}
.twitterSlide .twitterSlider .owl-stage-outer .owl-item .item i.icon {
  font-size: 24px;
  margin-bottom: 10px;
}
.twitterSlide .twitterSlider .owl-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-prev,
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-next {
  position: absolute;
  bottom: -80px;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-prev:before,
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-next:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  position: absolute;
  bottom: -50px;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-prev i,
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-next i {
  position: relative;
  z-index: 1;
  color: #FFF;
  width: 23px;
  line-height: 37px;
  font-size: 24px;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-prev:before {
  border-left: 50px solid #f7b71e;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-next {
  right: 0;
}
.twitterSlide .twitterSlider .owl-controls .owl-nav .owl-next:before {
  border-right: 50px solid #f7b71e;
  left: -27px;
}
.footerWidget {
  margin: 30px -15px;
}
.footerWidget .widgetHeader {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  margin-bottom: 18px;
}
.footerWidget .widgetHeader img {
  display: inline-block;
  margin-right: 10px;
}
.footerWidget .getInTouch_widget {
  padding-right: 15px;
}
.footerWidget .getInTouch_widget ul.nav-tabs {
  border: 0;
}
.footerWidget .getInTouch_widget ul.nav-tabs li a {
  border-radius: 0;
  background: rgba(247, 183, 30, 0.8);
  border: 0;
  padding: 0;
  line-height: 120px;
}
.footerWidget .getInTouch_widget ul.nav-tabs li a i {
  color: #FFF;
  width: 62px;
  line-height: 60px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
.footerWidget .getInTouch_widget ul.nav-tabs li.active a {
  background: #f7b71e;
  border: 0;
  position: relative;
}
.footerWidget .getInTouch_widget ul.nav-tabs li.active a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f7b71e;
  position: absolute;
  bottom: -10px;
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
}
.footerWidget .getInTouch_widget .tab-content {
  font-family: 'Raleway', sans-serif;
}
.footerWidget .getInTouch_widget .tab-content .tab-pane {
  background: #FFF;
  padding: 24px 15px 20px 20px;
}
.footerWidget .getInTouch_widget .tab-content .tab-pane i {
  color: #f7b71e;
  font-size: 16px;
  margin-right: 10px;
}
.footerWidget .flickrSlider {
  padding-left: 15px;
}
.footerWidget .flickrSlider .flickrSliderRow {
  background: rgba(156, 156, 156, 0.1);
  position: relative;
}
.footerWidget .flickrSlider .flickrSliderRow .jsfg-loader {
  padding-top: 50px;
  line-height: 80px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
.footerWidget .flickrSlider .flickrSliderRow .thumbnails {
  list-style: none;
  height: 130px;
  padding: 50px 0;
}
.footerWidget .flickrSlider .flickrSliderRow .thumbnails li {
  float: left;
  width: -webkit-calc(100% / 5);
  width: calc(100% / 5);
  text-align: center;
}
.footerWidget .flickrSlider .flickrSliderRow .thumbnails li a {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  padding: 10px;
  margin: 0;
  background: rgba(41, 49, 51, 0.8);
  border: 0;
}
.footerWidget .flickrSlider .flickrSliderRow .thumbnails li a img {
  border-radius: 100%;
}
.footerWidget .flickrSlider .flickrSliderRow .pagination .btn {
  line-height: 30px;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  background: rgba(156, 156, 156, 0.7);
}
.footerWidget .flickrSlider .flickrSliderRow .pagination .btn.pagination-next {
  top: auto;
  bottom: 0;
}
.footerWidget .flickrSlider .flickrSliderRow .pagination .btn:hover {
  background: #9c9c9c;
}
@media (max-width: 1024px) {
  #nr_footer .container .goTop {
    margin-top: -10px;
  }
  #nr_footer .container .goTop a {
    width: 42px;
    line-height: 42px;
    font-size: 24px;
  }
  #nr_footer .container:after {
    border-left: 485px solid transparent;
    border-right: 485px solid transparent;
    border-top: 40px solid #FFF;
  }
  #nr_footer .container .copyrightRow {
    line-height: 80px;
  }
  .twitterSlide {
    padding: 80px 0;
    margin-top: -50px;
  }
}
@media (max-width: 990px) {
  #nr_footer .container:after {
    border-left: 375px solid transparent;
    border-right: 375px solid transparent;
    border-top: 40px solid #FFF;
  }
  #nr_footer .container .copyrightRow {
    line-height: 80px;
  }
  .twitterSlide {
    padding: 80px 0;
    margin-top: -50px;
  }
  .footerWidget .widget {
    width: 100%;
  }
  .footerWidget .widget .getInTouch_widget,
  .footerWidget .widget .flickrSlider {
    padding: 0;
  }
  .footerWidget .widget .getInTouch_widget {
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  #nr_footer .container:after {
    display: none;
  }
  #nr_footer .container .goTop {
    margin-top: -20px;
  }
  .twitterSlide {
    padding: 60px 0 80px;
    margin-top: -40px;
  }
  .footerWidget .widget .getInTouch_widget {
    padding: 0;
    margin-bottom: 20px;
  }
  .footerWidget .widget .getInTouch_widget ul.nav-tabs {
    margin-bottom: 0;
  }
  .footerWidget .widget .getInTouch_widget ul.nav-tabs li {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    float: left;
  }
  .footerWidget .widget .getInTouch_widget ul.nav-tabs li a {
    margin-bottom: 0;
  }
}
@media (max-width: 360px) {
  .footerWidget .widget .flickrSlider .flickrSliderRow .thumbnails {
    list-style: none;
    height: 110px;
    padding: 50px 0 40px;
    overflow: hidden;
  }
  .footerWidget .widget .flickrSlider .flickrSliderRow .thumbnails li {
    float: left;
    width: -webkit-calc(100% / 5);
    width: calc(100% / 5);
    text-align: center;
  }
  .footerWidget .widget .flickrSlider .flickrSliderRow .thumbnails li a {
    width: 58px;
    max-width: 100%;
    height: 58px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    padding: 8px;
    margin: 0;
    background: rgba(41, 49, 51, 0.8);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .footerWidget .widget .flickrSlider .flickrSliderRow .thumbnails li a img {
    border-radius: 100%;
  }
}
/*----------------------------------------------------------------*/
/*Page Cover*/
#pageCover {
  position: relative;
  min-height: 281px;
  text-align: center;
  padding-top: 80px;
  background: url("../images/team/cover.png") no-repeat scroll center center #f7b71e;
}
#pageCover img.pageCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}
#pageCover .pageTitle {
  color: #FFF;
  padding: 0 27px;
  min-width: 138px;
  line-height: 65px;
  border: 1px solid #f7b71e;
  margin: 0 auto;
  display: inline-block;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  background: rgba(0, 0, 0, 0.2);
}
#pageCover .pageBreadcrumbs {
  margin: 0;
}
#pageCover .pageBreadcrumbs .breadcrumb {
  border-bottom: 1px solid #FFF;
  line-height: 40px;
  display: inline-block;
  border-radius: 0;
  background: transparent;
}
#pageCover .pageBreadcrumbs .breadcrumb li {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}
#pageCover .pageBreadcrumbs .breadcrumb li a {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
}
#pageCover .pageBreadcrumbs .breadcrumb li + li:before {
  content: '\e8ba';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "fontello";
}
#pageCover.blogPage {
  background-image: url("../images/projects/cover.png");
}
#pageCover.projectPage {
  background-image: url("../images/projects/cover.png");
}
#pageCover.servicePage {
  background-image: url("../images/serviceCover.png");
}
/*----------------------------------------------------------------*/
/*Pagination */
.paginationRow {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.paginationRow .pagination {
  margin: 35px 0 33px;
}
.paginationRow .pagination li {
  display: inline-block;
}
.paginationRow .pagination li a {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  color: #000;
}
.paginationRow .pagination li.active a,
.paginationRow .pagination li:hover a {
  background: #f7b71e;
  border-color: #f7b71e;
  color: #FFF;
}
.paginationRow .paginationInner {
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.paginationRow.leftPos {
  padding: 0 15px;
}
.paginationRow.leftPos .pagination {
  float: left;
}
/*----------------------------------------------------------------*/
/*About us*/
.aboutus {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}
.aboutus .aboutContent {
  padding-right: 10px;
}
.aboutus .member {
  margin-top: 30px;
}
.aboutus .member h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .aboutus .member h2 {
    font-size: 24px;
  }
}
.aboutus .member h3 {
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .aboutus .member h3 {
    font-size: 20px;
  }
}
.aboutus .member p {
  font-size: 17px;
  line-height: 22px;
  color: #9c9c9c;
  margin: 0;
}
@media (max-width: 1024px) {
  .aboutus .member p {
    font-size: 14px;
  }
}
.aboutus .member .textsPart {
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
}
@media (max-width: 640px) {
  .aboutus .member .textsPart {
    width: 100%;
  }
}
.aboutus .member .aboutImg,
.aboutus .member .memImg {
  width: 300px;
  padding: 0 0 0 30px;
}
.aboutus .member .aboutImg img,
.aboutus .member .memImg img {
  width: 100%;
}
@media (max-width: 640px) {
  .aboutus .member .aboutImg,
  .aboutus .member .memImg {
    width: 100%;
    float: left;
    padding: 30px 0 0;
  }
}
.aboutus .member .memberIntro {
  height: 62px;
  background: #9c9c9c;
}
.aboutus .member .memberIntro .memberSocial {
  float: right;
  height: 62px;
  margin: 10px;
}
.aboutus .member .memberIntro .memberSocial li {
  padding: 0;
  margin: 0 1px;
}
.aboutus .member .memberIntro .memberSocial li a {
  display: block;
}
.aboutus .member .memberIntro .memberSocial li a i {
  color: #293133;
  border: 1px solid #838383;
  width: 40px;
  line-height: 38px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
}
.aboutus .member .memberIntro .memberSocial li a:hover i {
  background: #f7b71e;
  border-color: #f7b71e;
  color: #FFF;
}
@media (max-width: 480px) {
  .aboutus .member .memberIntro .memberSocial {
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .aboutus .member .memberIntro .memberSocial li {
    display: inline-block;
  }
}
.aboutus .member .memberIntro .namePro {
  float: left;
  line-height: 62px;
  background: #293133;
  position: relative;
  color: #FFF;
  font-size: 16px;
  padding-right: 25px;
}
.aboutus .member .memberIntro .namePro span.name {
  background: #f7b71e;
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 23px;
  font-size: 22px;
  font-weight: bold;
  margin-right: 25px;
}
.aboutus .member .memberIntro .namePro span.name:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f7b71e;
  position: absolute;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  right: -10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (max-width: 480px) {
  .aboutus .member .memberIntro .namePro {
    width: 100%;
  }
}
.aboutus .member:nth-child(odd) .textsPart {
  float: left;
}
.aboutus .member:nth-child(odd) .memImg {
  float: left;
  padding: 0 0 0 30px;
}
.aboutus .member:nth-child(even) .textsPart {
  float: right;
}
.aboutus .member:nth-child(even) .memImg {
  float: left;
  padding: 0 30px 0 0;
}
.aboutus .member:nth-child(even) .memberIntro .memberSocial {
  float: left;
}
.aboutus .member:nth-child(even) .memberIntro .namePro {
  float: right;
  padding: 0 0 0 25px;
}
.aboutus .member:nth-child(even) .memberIntro .namePro span.name {
  float: right;
  padding: 0 23px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 0;
}
.aboutus .member:nth-child(even) .memberIntro .namePro span.name:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f7b71e;
  border-left: 0;
  position: absolute;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  right: auto;
  left: -10px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
@media (max-width: 480px) {
  .aboutus .member:nth-child(even) .memberIntro .namePro span.name {
    float: left;
    margin-left: 0;
    margin-right: 25px;
  }
  .aboutus .member:nth-child(even) .memberIntro .namePro span.name:after {
    border-left: 10px solid #f7b71e;
    border-right: 0;
    right: -10px;
    left: auto;
  }
}
@media (max-width: 480px) {
  .aboutus .member:nth-child(even) .memberIntro .namePro {
    padding: 0 25px 0 0;
  }
}
.aboutus .member.aboutUsTexts {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
}
.aboutus .member.member3_1 {
  margin-bottom: 30px;
}
.aboutus .member.member3_1 .memImg {
  float: none;
  padding: 0 15px;
  width: 100%;
  text-align: center;
}
.aboutus .member.member3_1 .memImg img {
  max-width: 100%;
  display: inline-block;
}
.aboutus .member.member3_1 .memberIntro {
  text-align: center;
  height: auto;
  color: #FFF;
}
.aboutus .member.member3_1 .memberIntro .name {
  line-height: 62px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  background: #f7b71e;
}
.aboutus .member.member3_1 .memberIntro .name:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f7b71e;
  position: absolute;
  left: -webkit-calc(50% - 10.5px);
  left: calc(50% - 10.5px);
  top: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.aboutus .member.member3_1 .memberIntro .pro {
  line-height: 62px;
  background: #293133;
}
.aboutus .member.member3_1 .memberIntro .memberSocial {
  height: 42px;
  float: none;
  text-align: center;
}
@media (max-width: 480px) {
  .aboutus .member.member3_1 .memberIntro .memberSocial {
    margin: 10px;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .aboutus .col-sm-9 {
    width: 100%;
  }
}
/*----------------------------------------------------------------*/
/*Partner Slider*/
.partnersSlide {
  margin: 10px -15px 50px;
}
.partnersSlide h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  margin: 0 0 10px;
}
.partnersSlide .partnerSlider {
  position: relative;
}
.partnersSlide .partnerSlider .item {
  margin: 0 10px;
  text-align: center;
  border: 1px solid rgba(156, 156, 156, 0.3);
}
.partnersSlide .partnerSlider .item img {
  opacity: 0.2;
  width: auto;
  display: inline-block;
  padding: 68px 0;
  vertical-align: middle;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.partnersSlide .partnerSlider .item:hover img {
  opacity: 1;
}
.partnersSlide .partnerSlider .owl-controls {
  position: absolute;
  top: -40px;
  right: 10px;
}
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-prev,
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-next {
  float: left;
  color: #9c9c9c;
}
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-prev i,
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-next i {
  font-size: 28px;
}
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-prev:hover,
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-next:hover {
  color: #293133;
}
.partnersSlide .partnerSlider .owl-controls .owl-nav .owl-prev {
  margin-right: 20px;
}
/*----------------------------------------------------------------*/
/*Comments*/
.comments {
  font-family: 'Raleway', sans-serif;
}
.comments .commentsCount {
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 0;
}
.comments .commentDisplay {
  margin-bottom: 20px;
}
.comments .commentDisplay .comment {
  margin-bottom: 30px;
}
.comments .commentDisplay .comment .media-left {
  width: 100px;
  height: 80px;
  line-height: 80px;
  padding-right: 20px;
}
.comments .commentDisplay .comment .media-left a {
  display: block;
}
.comments .commentDisplay .comment .media-left a img {
  width: 100%;
}
.comments .commentDisplay .comment .media-body {
  color: #9c9c9c;
}
.comments .commentDisplay .comment .media-body .commenterNtime {
  color: rgba(156, 156, 156, 0.5);
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 7px;
}
.comments .commentDisplay .comment .media-body .commenterNtime a {
  color: #000;
  display: inline-block;
}
.comments .commentDisplay .comment .media-body .commenterNtime a:after {
  content: "/";
  width: 25px;
  display: inline-block;
  color: rgba(156, 156, 156, 0.5);
  text-align: center;
}
.comments .commentDisplay .commentreply.commentreply2 {
  padding-left: 100px;
}
.comments .commentDisplay .commentreply.commentreply3 {
  padding-left: 200px;
}
@media (max-width: 1024px) {
  .comments {
    margin-left: 0;
    margin-right: 0;
  }
}
.commentForm {
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.commentForm h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}
.commentForm form .commenterInfoInputs {
  padding-right: 10px;
}
.commentForm form .input-group {
  width: 100%;
  margin-bottom: 10px;
}
.commentForm form .input-group span {
  border-radius: 0;
  height: 56px;
  border-color: rgba(156, 156, 156, 0.3);
  background: #FFF;
}
.commentForm form .input-group span i {
  height: 32px;
  width: 32px;
  line-height: 28px;
  border: 1px solid #f7b71e;
  color: #f7b71e;
  border-radius: 100%;
  text-align: center;
}
.commentForm form .input-group input {
  border-color: rgba(156, 156, 156, 0.3);
  border-radius: 0;
  height: 56px;
  padding-left: 15px;
}
.commentForm form .input-group label.error {
  border: 1px solid rgba(156, 156, 156, 0.3);
  border-top: 0;
  padding: 5px;
  width: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #f7b71e;
}
.commentForm form .input-group textarea {
  border-color: rgba(156, 156, 156, 0.3);
  height: 122px;
  padding: 10px 15px;
  border-radius: 0;
}
.commentForm form button {
  line-height: 56px;
  border-radius: 0;
  border: 0;
  background: #f7b71e;
  padding: 0;
  width: 100%;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-shadow: none;
}
.commentForm form button:hover {
  background: #293133;
  color: #FFF;
}
@media (max-width: 1024px) {
  .commentForm {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .commentForm form .commenterInfoInputs {
    padding-right: 0;
  }
}
/*----------------------------------------------------------------*/
/*Contact */
#contacts {
  font-family: 'Raleway', sans-serif;
  margin: 30px 0 10px;
}
#contacts h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  #contacts h3 {
    font-size: 20px;
  }
}
#contacts p {
  font-size: 17px;
  color: #9c9c9c;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  #contacts p {
    font-size: 14px;
  }
}
#contacts ul {
  color: #9c9c9c;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(156, 156, 156, 0.3);
  margin-bottom: 34px;
}
#contacts ul li {
  padding: 0;
  margin-right: 25px;
}
#contacts ul li i {
  color: #696969;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  #contacts ul li {
    display: block;
  }
}
#contacts #success,
#contacts #error {
  display: none;
}
#contacts #success span,
#contacts #erro span {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}
#contacts #success span p,
#contacts #error span p {
  margin-top: 6em;
}
#contacts #success span p {
  color: #9bd32d;
}
#contacts #error span p {
  color: #c0392b;
}
#contactForm {
  padding-top: 45px;
}
#mapBox {
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
}
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*Responsive Styles*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
